/********photo**********/

.mezcalLogo {
  width: 30ch;
  height: 30ch;
  background: black;
  border-radius: 5px;
  background-image: url(/images/mezcalderon_dorado.png);
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgb(124, 124, 124);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
}

.mezcalLogo:hover {
  box-shadow: 0px 30px 100px -10px rgb(165, 165, 165);
}

.maguey {
  width: 30ch;
  height: 30ch;
  background: black;
  border-radius: 5px;
  background-image: url(/images/maguey.jpg);
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgb(124, 124, 124);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
}

.maguey:hover {
  box-shadow: 0px 30px 100px -10px rgb(165, 165, 165);
}
