/* MEZCAL ANIMATION */

.rigthtpanel {
  /* background-color: #131313; */
  height: 100vh;
}

/* END 
MEZCAL ANIMATION */
.index {
  margin-top: 5em;
  color: white;
}
.indexTitle {
  font-family: "Parisienne", sans-serif;
  font-size: 8vw;
  color: white;
}

.btnScroll {
  display: none;
}

.mezcalBottle {
  height: 100vh;
  box-shadow: 0 0 10px 5px rgb(67, 67, 67);
}

@media only screen and (max-width: 780px) {
  .mezcalBottle {
    padding: 0em 0em 0em 0em;
  }
  .btnScroll {
    display: none;
  }
  .mezcalBottle {
    height: 90vh;
  }
}

@media only screen and (max-width: 500px) {
  .body {
    background-color: greenyellow;
  }
  .mezcalBottle {
    padding: 0em 0em 0em 0em;
    box-shadow: -5px -5px 30px 5px rgb(67, 67, 67);
  }
  .btnScroll {
    display: block;
    margin-bottom: 1em;
  }
  .mezcalBottle {
    height: 90vh;
  }
}

@media (max-width: 420px) {
  .btnScroll {
    display: block;
  }
  .mezcalBottle {
    height: 80vh;
  }
}

@media (max-width: 320px) {
  .btnScroll {
    display: block;
  }
  .mezcalBottle {
    height: 70vh;
  }
}
