/* MEZCAL ANIMATION */

.rigthtpanel {
  /* background-color: #131313; */
  height: 100vh;
}

.btnScroll {
}

/* END 
MEZCAL ANIMATION */
.index {
  margin-top: 5em;
}
.indexTitle {
  font-family: "Parisienne", sans-serif;
  font-size: 8vw;
}

@media only screen and (max-width: 500px) {
}

@media (max-width: 420px) {
  /* .rightbanner {
    height: 500px;
  } */
}

@media (max-width: 320px) {
}
